body{
	background-color: #FFFFFF;
	color: #191919;
	width: 2000px;
}
#searchBox {
	position: fixed;
	width: 150px;
	height: 25px;
	background-color: #FFF;
	top: 2%;
	right: 5%;
	border-style: solid;
	border-color: #DFE2DB;
}
#myOptions {
	background-color: #191919;
}
